/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans";
}
/* Header Section Area  */
header {
  background: rgba(255, 144, 14, 0.1);
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #3a3a3a;
  margin-top: 40px;
}
.navbar {
  margin-top: 40px;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
li a {
  text-decoration: none;
  color: #424242;
}
.brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.text-side {
  text-align: center;
}
.text-heading {
  font-size: 64px;
  line-height: 75px;
  color: #131313;
}
.text-sub-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  text-align: center;
  margin-top: 20px;
}
.btn-primary {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
  border: 0px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  align-items: center;
  margin: 30px 0px;
}
.img-section img {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
/* Features section area  */
.teamPhoto-features {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}
.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-text {
  margin-left: 73px;
}
.headtext1 {
  color: #727272;
}
.headtext2 {
  color: #131313;
}
.headtext3 {
  color: #ff900e;
}

.feature-text {
  font-weight: 700;
  font-size: 45px;
}
.feature-sub-text {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 10px;
}
/* Features 2nd enjoy-section */
.experience-features-section {
  display: flex;

  margin-top: 130px;
}
.experience-features-blogs-heading {
  flex-direction: column;
}
.tall-line-border {
  border-left: 5px solid #ff900e;
  padding: 0.01em 20px;
  color: #131313;
}
.second-feature-subtext {
  margin-top: 8px;
  margin-bottom: 30px;
}
.experience-features-blogs-headingt h1 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.experience-textbox {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 586px;
  margin-top: 20px;
}
.experience-textbox h3 {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}
.experience-textbox p {
  margin-top: 15px;
  font-weight: normal;
  font-size: 16px;
  color: #727272;
}

.women-architect-imgag {
  margin-right: 240px;
  margin-top: 130px;
  margin-left: 146px;
}
.women-architect-imgage {
  position: relative;
}
/* button-style */
.btn-experience-section {
  width: 342px;
  height: 150px;
  margin-top: -640px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
  border: 0;
  margin-left: -85px;
}

.btn-experience-section h1 {
  font-weight: 700;
  font-size: 45px;
}
.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}
/* Some Facts ection styles */
.some-fact-section {
  margin-top: 100px;
}
.some-fact-section h1 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.some-fact-section p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.factbox {
  display: flex;
  justify-content: center;
  gap: 124px;
  margin-top: 100px;
}
.SomeFactBox {
  width: 241px;
  height: 241px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
/* Some Facts text styles */
.SomeFactBox img {
  margin-top: 45px;
}
.SomeFactBox:hover {
  background-color: rgba(255, 144, 14, 0.1);
  color: #000000;
}
.SomeFactBox h1 {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  margin-top: 8px;
}
.SomeFactBox p {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
  margin-top: 20px;
}
/* Our Sponspors Area  */

.sponspors {
  text-align: center;
}
.heading-text {
  font-size: 45px;
  color: #131313;
  margin: 40px 0px;
}
.sponspors-heading p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* Multiple Logo Area  */
.multiple-logo {
  text-align: center;
  background: #ffffff;
}
.multiple-logo img {
  padding: 50px;
  mix-blend-mode: luminosity;
}
/* footer area -styles */
.footer {
  background: #fff4e7;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  ;
  margin-bottom: 100px;
}
